{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
    <h1>Site Seguro</h1>
    <div>
        <a href="/">Homepage</a>
        | <a href="{% url 'sec-home' %}">Página inicial de segurança</a>
        {% if user.is_authenticated %}
        | <a href="{% url 'sec-logout' %}">Logout</a>
        {% else %}
        | <a href="{% url 'sec-registro' %}">Registrar</a>
        | <a href="{% url 'sec-login' %}?next={% url 'sec-perfil' %}">
            Login
        </a>
        {% endif %}
        | Você é {% firstof user.username "visitante" %}
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>

</html>